@charset "utf-8";

ul li {
    list-style: none;
}

html, body, iframe, h1, h2, h3, h4, h5, h6, p, ol, ul, dl, dd, select, textarea, th, td, form {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

a, a:active, a:focus {
    outline: none;
}

img {
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font: 14px/1.5 微软雅黑,Arial,sans-serif;
}

a {
    color: #666;
}

    a:hover {
        color: #006699;
        text-decoration: underline;
    }

fieldset, img, input, button, textarea {
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    border-radius: 0;
}
/*soewl*/
.soewl {
    clear: both;
}

.soewl0 {
    clear: both;
    font-size: 0px;
    height: 0px;
    line-height: 0px;
}

.soewl1 {
    clear: both;
    font-size: 0px;
    height: 1px;
    line-height: 0px;
}

.soewl2 {
    clear: both;
    font-size: 1px;
    height: 2px;
    line-height: 1px;
}

.soewl3 {
    clear: both;
    font-size: 1px;
    height: 3px;
    line-height: 1px;
}

.soewl4 {
    clear: both;
    font-size: 1px;
    height: 4px;
    line-height: 1px;
}

.soewl5 {
    clear: both;
    font-size: 1px;
    height: 5px;
    line-height: 1px;
}

.soewl6 {
    clear: both;
    font-size: 1px;
    height: 6px;
    line-height: 1px;
}

.soewl7 {
    clear: both;
    font-size: 1px;
    height: 7px;
    line-height: 1px;
}

.soewl8 {
    clear: both;
    font-size: 1px;
    height: 8px;
    line-height: 1px;
}

.soewl9 {
    clear: both;
    font-size: 1px;
    height: 9px;
    line-height: 1px;
}

.soewl10 {
    clear: both;
    font-size: 1px;
    height: 10px;
    line-height: 1px;
}

.soewlh {
    width: 990px;
    float: left;
    clear: both;
    font-size: 1px;
    height: 3px;
    line-height: 1px;
    background-color: #6DBA2B
}

.article_content img {
    width: 100%;
    max-width: 500px;
    height: auto;
    width: expression(this.width > 500 ? "500px" : this.width);
}
/*公用样式 */
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    *zoom: 1;
}

    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
        clear: both;
    }

.clear {
    display: block !important;
    clear: both !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #333;
}

    a:hover {
        text-decoration: underline;
    }

.h1 {
    overflow: hidden;
    height: 0;
}

.layout {
    width: 1200px;
    margin: 0 auto;
}

.layout998 {
    width: 1198px;
    margin: 0 auto;
}

.mgt10 {
    margin-top: 10px;
}

.mgb10 {
    margin-bottom: 10px;
}

.bdd1 {
    border: 1px solid #d1dce6;
}

.bddd {
    border: 1px solid #ddecf8;
}

.text-c {
    text-align: center;
}
/*头*/
.banner {
    width: 1200px;
    margin: 0 auto;
    border-bottom: 4px solid #1d71b7
}

    .banner .logo {
        float: left;
        width: 415px;
        height: 60px;
        padding: 10px 5px 25px 0px;
        font-size: 30px;
        line-height: 60px;
    }

    .banner .search {
        float: left;
        width: 401px;
        padding-top: 20px;
    }

        .banner .search .xwrcs {
            font-size: 12px;
            color: #b0b0b2;
            line-height: 25px;
        }

.box-css {
    width: 401px;
    position: relative;
    height: 37px;
}

.searchbg {
    padding-right: 0px;
    right: 0px;
    padding-bottom: 0px;
    width: 401px;
    position: absolute;
    height: 35px;
}

.searchcontainer {
    right: 0px;
    height: 35px;
    width: 401px;
    position: absolute;
}

.searchbg {
    background: url(../images/bg01.png) no-repeat;
}

.searchselect {
    z-index: 49;
    float: left;
    width: 76px;
    position: relative;
    height: 33px;
    padding-top: 1px
}

    .searchselect span {
        float: left;
        height: 35px
    }

    .searchselect a.searchselectbtn {
        float: left;
        height: 35px
    }

    .searchselect span {
        width: 60px;
        color: #666666;
        line-height: 33px;
        position: relative;
        text-align: center
    }

.searchselectbtn {
    background: url(../images/bg02.gif) no-repeat;
    width: 9px;
}

.searchselectup {
    background: url(../images/bg04.gif) no-repeat;
    width: 9px;
}

.searchcontainer input {
    float: left;
    width: 230px;
    line-height: 30px;
    height: 30px;
    margin: 1px 0 0 2px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #666666;
    font-size: 14px;
}

.searchbtn {
    float: right;
    width: 66px;
    height: 35px
}

.searchselect ul {
    display: none;
    z-index: 150;
    overflow-x: hidden;
    width: 76px;
    position: absolute;
    top: 33px;
    font-size: 12px;
    left: 0
}

    .searchselect ul li {
        float: left;
        width: 74px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        background: #fff;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

        .searchselect ul li.selected {
            background: #edf3fc;
            color: #6994c1;
        }

        .searchselect ul li.last {
            background: url(../images/bg03.gif) no-repeat;
            overflow: hidden;
            width: 75px;
            height: 5px;
        }

.banner .member {
    float: right;
    width: 200px;
    padding-top: 25px;
}

.adv {
    width: 1000px;
    margin: 0 auto;
}
/*==内容==*/
.lecona {
    width: 326px;
    float: left;
}

    .lecona .titb {
        width: 326px;
        height: 25px;
        float: left;
        border-bottom: #4B4B4B 2px solid;
        text-align: left;
        color: #000;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
    }

        .lecona .titb .sbg {
            width: 20px;
            height: 25px;
            float: left;
            background: url(../images/n_bar.gif) no-repeat 10px 6px;
        }

        .lecona .titb .txt {
            height: 30px;
        }

        .lecona .titb .o2n {
            cursor: pointer;
            diplay: inline-block;
            float: left;
            height: 32px;
            font-weight: normal;
            font-weight: bold;
        }

        .lecona .titb .more {
            float: right;
            font-size: 12px;
            font-weight: 500;
        }

    .lecona .lista {
        float: left;
        font-size: 14px;
        height: 310px;
        width: 326px;
        margin-top: 0;
        border: 1px #dae0e1 solid;
        border-top: 0px #dae0e1 solid;
    }

        .lecona .lista li {
            width: 300px;
            height: 29px;
            line-height: 29px;
            text-align: left;
            overflow: hidden;
        }

            .lecona .lista li .spanbg {
                width: 18px;
                height: 29px;
                float: left;
                background: url(../images/left_icon.png) no-repeat 6px 12px;
            }
/**/
.hotwords-tl .icon, .hotwords-activity .status .reg, .hotwords-activity .status .login, .hotwords-related .rmb, .hotwords-rmb-icon, .hotwords-related .tab-tl li, .hotwords-industrial .tab-tl li {
    background: url(../images/hotWords_sprite.png) no-repeat;
}

.hotwords-tl {
    position: relative;
    height: 31px;
    margin-top: -1px;
    border-top: 2px solid #1e3954;
    border-bottom: 1px solid #ddecf8;
    border-left: 1px solid #ddecf8;
    border-right: 1px solid #ddecf8;
    background: #f1f7f9;
    color: #092c48;
}

    .hotwords-tl h4 {
        padding-left: 8px;
        font: bold 14px/31px "Microsoft Yahei";
    }

    .hotwords-tl .icon {
        float: left;
        width: 27px;
        height: 23px;
        margin: 4px 5px 0 5px;
        background-position: 0 -60px;
    }

.swabout {
    width: 988px;
    height: 170px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddecf8;
    border-top: none !important;
}

    .swabout p {
        font-family: 微软雅黑;
        font-size: 15px;
        width: 95%;
        margin: auto;
        margin-top: 20px;
        line-height: 25px;
    }
/**/
.swhuandeng {
    float: left;
    width: 288px;
    height: 190px;
    margin-top: 20px;
}

.swtuijian-e {
    overflow: hidden;
    padding: 0 5px;
    border: 1px solid #ddecf8;
    border-top: none !important;
}

.swtuijian-r {
    width: 880px;
    height: 200px;
    float: right;
    margin-top: 25px;
}

    .swtuijian-r ul li {
        width: 50%;
        float: left;
        font-family: 微软雅黑;
        font-size: 18px;
        margin-top: 10px;
    }

        .swtuijian-r ul li a {
            color: #333;
        }
/**/
.lists {
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
}

.list1 {
    width: 595px;
    height: auto;
    overflow: hidden;
    float: left;
}

.list1-e {
    padding: 0 15px;
    overflow: hidden;
    height: auto;
    border: 1px solid #ddecf8;
    border-top: none !important;
}

.list1-t {
    width: 469px;
    height: 30px;
    background-color: #C52626;
    color: #FFF;
    line-height: 30px;
    text-align: center;
    font-family: 微软雅黑;
    font-size: 17px;
}

.list1-e ul li {
    font-size: 15px;
    line-height: 35px;
    border-bottom: 1px dotted #CCC;
}

    .list1-e ul li a {
        color: #333;
    }

.list2 {
    width: 590px;
    height: auto;
    overflow: hidden;
    float: right;
}

.listmore {
    width: 160px;
    height: 27px;
    line-height: 27px;
    background-color: #006699;
    text-align: center;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

    .listmore a {
        color: #FFF;
    }
/**/
#scroll {
    clear: both;
    border-right: #cdc9ca 1px solid;
    border-top: #cdc9ca 1px solid;
    padding-left: 100px;
    font-size: 12px;
    background: url(../images/n_scroll.gif) no-repeat 18px 7px;
    margin: 0px auto;
    border-left: #cdc9ca 1px solid;
    width: 1098px;
    color: #c2130e;
    line-height: 27px;
    border-bottom: #cdc9ca 1px solid;
    height: 27px;
    text-align: left
}

    #scroll a {
        float: left;
        padding-right: 20px;
        width: 175px;
        height: 27px;
        display: block;
        overflow: hidden;
        padding-left: 10px;
        background: url(../images/n_bar.gif) no-repeat 0px 8px;
        color: #000;
        margin-right: 5px;
        text-decoration: none
    }

        #scroll a.s_end {
            padding-right: 0px;
            margin-left: 8px
        }
/**/
.swdh {
    width: 1180px;
    height: 25px;
    margin: auto;
    background-image: url(../images/dh.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    font-size: 14px;
    color: #999;
    line-height: 14px;
}

    .swdh a {
        color: #999;
    }

.swdh {
    margin-top: 10px;
    border-bottom: #0895e7 1px solid;
}
/**/
.result-select .more-btn, .result-select .hide-btn, .look-for-others .icon, .result-list-tl .view-btn a, .result-filter .item .cur, .result-filter .item .cur .in, .result-list-content .list-mode td .btn .in {
    background: url(../images/result_sprite.png) no-repeat;
}

.result-select {
    border-top: 2px solid #006699;
}

    .result-select dl {
        position: relative;
        padding: 3px 5px 3px 0;
        border-bottom: 1px dashed #d1dce6;
    }

    .result-select .last {
        border-bottom: none;
    }

    .result-select dt {
        float: left;
        width: 85px;
        padding: 5px 5px 0 0;
        color: #444;
        font-weight: bold;
        text-align: right;
    }

    .result-select dd {
        float: left;
        width: 1100px;
    }

    .result-select .h26 {
        height: 26px;
        overflow: hidden;
    }

    .result-select .h52 {
        height: 52px;
        overflow: hidden;
    }

    .result-select .h78 {
        height: 78px;
        overflow: hidden;
    }

    .result-select ul {
        margin-left: -30px;
    }

    .result-select li {
        float: left;
        padding: 0px 15px 0 30px;
        height: 30px;
        line-height: 30px;
        white-space: nowrap;
    }

    .result-select .li-90 li {
        width: 90px;
    }

    .result-select .li-auto li {
        padding-right: 30px;
    }

    .result-select a {
        color: #666;
    }

    .result-select .cur, .result-select .cur:hover {
        color: #f60;
        font-weight: bold;
    }

    .result-select .more-btn, .result-select .hide-btn {
        position: absolute;
        top: 7px;
        right: 10px;
        padding-right: 20px;
        background-position: 28px -18px;
    }

    .result-select .hide-btn {
        background-position: 28px 1px;
    }

    .result-select a:hover {
        color: #006699;
    }
/**/
.swnr {
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
}

.swnr-l {
    width: 820px;
    height: auto;
    overflow: hidden;
    float: left;
}

.swnr-r {
    width: 360px;
    height: auto;
    overflow: hidden;
    float: right;
    background-color: #F0F0F0;
    padding-bottom: 10px;
}

.result-list-tl {
    height: 30px;
    border-bottom: 1px solid #006699;
    background: #f1f7f9;
    line-height: 30px;
}

    .result-list-tl h4 {
        margin: -1px;
        padding: 0 20px;
        background: #006699;
        color: #fff;
        font-size: 14px;
        line-height: 32px;
    }
/**/
.col-wrap {
    margin: 10px 10px 0px 10px;
    border: 1px solid #DDD;
    background-color: #FFF;
    text-align: left;
}

    .col-wrap h3 {
        border-bottom: 1px solid #DDD;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        background: #3e71af;
        color: #FFF;
    }

    .col-wrap .iconBox {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .col-wrap .iconBox li {
            width: 325px;
            height: 26px;
            overflow: hidden;
            line-height: 26px;
            background: transparent url("../images/icoBq.png") no-repeat scroll 0px -183px;
            text-indent: 10px;
        }

.prdetail-comp {
    margin: 10px 10px 0px 10px;
    border: 1px solid #dbdbdb;
    background-color: #FFF;
    text-align: left;
}

    .prdetail-comp .grade {
        border-bottom: 1px solid #DDD;
        font-size: 15px;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        font-weight: bold;
        background: #3e71af;
        color: #FFF;
    }

    .prdetail-comp .comp-name {
        height: 35px;
        overflow: hidden;
        padding: 0 5px;
        color: #666;
        font-size: 14px;
        line-height: 35px;
    }

    .prdetail-comp .comp-txt {
        padding: 0 5px 3px;
        color: #444;
        line-height: 27px;
    }

        .prdetail-comp .comp-txt li {
            height: 27px;
            overflow: hidden;
        }

/**/
.neirong1 {
    text-align: center;
}

.neirong2 {
    font-size: 14px;
    line-height: 2;
    color: #999;
}

.neirong3 {
    width: 90%;
    height: auto;
    overflow: hidden;
    font-family: 微软雅黑;
    font-size: 15px;
    line-height: 28px;
    margin: auto;
    color: #666;
}

    .neirong3 img {
        display: block;
        width: 100%;
        display: table-cell;
        margin: 0 auto;
    }

.neirong4 {
    width: 90%;
    height: auto;
    margin: auto;
    font-size: 14px;
    font-family: 微软雅黑;
    margin-top: 50px;
}

    .neirong4 ul li {
        width: 90%;
        float: left;
        line-height: 30px;
    }

        .neirong4 ul li a {
            color: #000;
        }
/**/
#article_details .readall_box {
    position: relative;
    z-index: 8;
    padding: 0 0 25px;
    margin-top: -192px;
    text-align: center;
}

    #article_details .readall_box .read_more_mask {
        height: 200px;
        background: -moz-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0));
        background: -webkit-gradient(linear,0 top,0 bottom,from(rgba(255,255,255,0)),to(#fff));
        background: -o-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0));
    }

    #article_details .readall_box .read_more_btn {
        border: 1px solid #5a85b2;
    }

.btn-gray-fred:active, .btn-gray-fred:hover {
    color: #fff;
    background: #5a85b2;
    cursor: pointer;
}

.btn-gray-fred {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    padding: 0 20px;
    font-size: 16px;
    color: #5a85b2;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #5a85b2;
    line-height: 30px;
    min-width: 100px;
}

.article_next_prev {
    margin-top: 0;
}
/**/
.header_s .ws1004 {
    width: 1200px;
    margin: 0 auto;
}

.header_s .header {
    border-bottom: 1px solid #cacaca;
    height: 40px;
}

.header_s .top_nav {
    float: left;
    font: 13px/40px microsoft yahei
}

    .header_s .top_nav a {
        margin: 0 6px
    }

    .header_s .top_nav span {
        color: #666
    }

    .header_s .top_nav a:hover {
        color: #ff0101
    }

.header_s .header .company {
    width: 330px;
    float: right;
    border: 1px solid #cacaca;
    height: 40px;
    border-top: none;
    position: relative;
    cursor: pointer;
    z-index: 999;
}

    .header_s .header .company h2 {
        font-size: 16px;
        font-family: Microsoft yahei;
        line-height: 40px;
        height: 40px;
        padding: 0 10px 0 10px;
        width: 310px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: normal;
        text-align: center;
    }

.header_s .top {
    margin: 0px auto;
    overflow: hidden;
}

.header_s .companyName {
    font: 24px/80px microsoft yahei;
    float: left;
    height: 80px;
}

.header_s .companytel {
    float: right;
    background: url(../images/phone.jpg) no-repeat;
    background-size: 25px 20px;
    background-position: 0px 6px;
    color: #5d5d5d;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin-top: 22px;
    padding-left: 36px;
    width: 270px;
}

.header_s .zxphone {
    color: #e07400;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.header_s .nav {
    background: #104186;
    height: 45px;
    line-height: 45px
}

    .header_s .nav ul li {
        float: left;
        display: inline;
        margin-right: 0px;
        width: 200px;
    }

        .header_s .nav ul li a {
            color: #fff;
            font-size: 16px;
            font-family: Microsoft yahei;
            padding: 0 66px;
            display: block;
            text-decoration: none;
        }

            .header_s .nav ul li a:hover {
                background: url(../images/navhover.jpg) repeat-x;
            }

.header_s .banner {
    margin: 0px auto;
    height: 380px;
}

    .header_s .banner #slider {
        width: 1200px;
        margin: 0 auto;
        height: 380px;
        position: absolute;
        z-index: 0;
        overflow: hidden;
    }

        .header_s .banner #slider div {
            width: 100%;
            height: 380px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }

    .header_s .banner #alar {
        width: 99%;
        height: 83px;
        margin: 0 auto;
        position: relative;
        z-index: 100;
        top: 140px;
    }

    .header_s .banner #ar, #al {
        width: 55px;
        height: 83px;
        display: block;
        position: absolute;
    }

    .header_s .banner #alar:hover #ar {
        background: url(../images/ar.png) no-repeat;
        right: 0;
    }

    .header_s .banner #alar:hover {
        background: url(../images/al.png) no-repeat;
        left: 0;
    }

/* 分页 */
#pages {
    padding: 14px 0 10px;
    font-family: 宋体
}

    #pages a {
        display: inline-block;
        height: 22px;
        line-height: 22px;
        background: #fff;
        border: 1px solid #e3e3e3;
        text-align: center;
        color: #333;
        padding: 0 10px
    }

        #pages a.a1 {
            width: 56px;
            padding: 0
        }

        #pages a:hover {
            background: #f1f1f1;
            color: #000;
            text-decoration: none
        }

    #pages span {
        display: inline-block;
        height: 22px;
        line-height: 22px;
        background: #5a85b2;
        border: 1px solid #5a85b2;
        color: #fff;
        text-align: center;
        padding: 0 10px
    }

    #pages .cur {
        display: inline-block;
        height: 22px;
        padding: 0 10px;
        line-height: 22px;
        background: #AFAFAF;
        border: 1px solid #AFAFAF;
        color: #fff;
        text-align: center;
    }

    #pages b, #pages i {
        font-weight: normal;
        font-style: normal;
    }
/**/
.footer {
    margin: 0 auto;
    overflow: hidden;
    height: 30px;
    width: 1200px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 30px;
    border-top: #0895e7 1px solid;
}

    .footer p {
        text-align: center;
        font-size: 12px;
        line-height: 28px;
        color: #8c8c8c;
    }

        .footer p a {
            color: #8c8c8c;
            text-decoration: none;
        }

            .footer p a:hover {
                color: #8c8c8c;
                text-decoration: underline;
            }
