    var str = '<div class="footer bg_main">
    \n' +
    '    <div class="container pc_footer">
        \n' +
        '        <p>该企业由【】服务，服务热线：</p>\n' +
        '        <p>
            \n' +
            '            本页面为商业广告，内容为用户自行上传，本网不对该页面内容（包括但不限于文字、图片、视频）真实性和知识产权负责。\n' +
            '
        </p>\n' +
        '
    </div>\n' +
    '    <div class="m_footer bg_main clearfix">
        \n' +
        '        <a href="tel:13661473343" mce_href="tel:13661473343">
            \n' +
            '            <i class="uk-icon-phone-square"></i>\n' +
            '            <p>电话咨询</p>\n' +
            '
        </a>\n' +
        '        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=297326966&amp;site=qq&amp;menu=yes" target="_blank">
            \n' +
            '            <i class="uk-icon-qq"></i>\n' +
            '            <p>在线客服</p>\n' +
            '
        </a>\n' +
        '
    </div>\n' +
    '
</div>\n' +
        '<div id="window">
    \n' +
    '    <div class="nail">
        \n' +
        '        <b><i class="uk-icon-dot-circle-o"></i></b>\n' +
        '
    </div>\n' +
    '    <div class="top_line_left"></div>\n' +
    '    <div class="top_line_right"></div>\n' +
    '    <div class="logo_wrapper">
        \n' +
        '        <img src="http://tu.ossfiles.cn:9186/group1/M00/11/BF/rBgIBlxw9GCQHZUcAAA743XTc6U929.jpg" alt="logo" width="100%">\n' +
        '
    </div>\n' +
    '    <div class="middle_line_left"></div>\n' +
    '    <div class="middle_line_right"></div>\n' +
    '    <div class="window_main">
        \n' +
        '        <ul>
            \n' +
            '
            <li>
                \n' +
                '                <i class="uk-icon-phone text_main"></i>\n' +
                '                13661473343\n' +
                '
            </li>\n' +
            '
            <li>
                \n' +
                '                <i class="uk-icon-phone text_main"></i>\n' +
                '                13661473343\n' +
                '
            </li>\n' +
            '
            <li>
                \n' +
                '                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=297326966&amp;site=qq&amp;menu=yes" target="_blank">
                    \n' +
                    '                    <i class="uk-icon-qq text_main"></i>\n' +
                    '                    297326966\n' +
                    '
                </a>\n' +
                '
            </li>\n' +
            '
            <li>
                \n' +
                '                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=297326966&amp;site=qq&amp;menu=yes" target="_blank">
                    \n' +
                    '                    <i class="uk-icon-qq text_main"></i>\n' +
                    '                    297326966\n' +
                    '
                </a>\n' +
                '
            </li>\n' +
            '
            <li>
                \n' +
                '                <img src="http://tu.ossfiles.cn:9186/group1/M00/11/BF/rBgIBlxw8_qSlkAmAACHzeBWSAI805.png" style="border-radius:10px;">\n' +
                '
            </li>\n' +
            '
        </ul>\n' +
        '
    </div>\n' +
    '    <div class="bottom_line">
        \n' +
        '
    </div>\n' +
    '    <div class="close_wrapper">
        \n' +
        '        <i class="uk-icon-close" onclick="closeWindow()"></i>\n' +
        '
    </div>\n' +
    '
</div>';
    document.writeln(str);
