<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>$data.htmlTitle</title>
    <meta name="keywords" content="$data.keyword" />
    <meta name="description" content="$data.description" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="$data.hostUrl/statics/css/style11.css" type="text/css" />
    <script type="text/javascript" src="$data.hostUrl/statics/js/skin/jquery.min.js"></script>
    <script type="text/javascript" src="$data.hostUrl/statics/js/skin/gotop.js"></script>
</head>
<body>
    <div class="head">
        <div class="logo"><a href="#"><img src="$data.hostUrl/statics/images/logo.jpg" title="$data.hostName" alt="$data.hostName" width="230" height="60" /></a></div>
        <div class="search">
            <!--<form action="#" name="formsearch">-->
            <input type="hidden" name="kwtype" value="0" />
            <input name="keyword" type="text" class="search-keyword fl" id="search-keyword" value="请输入关键词" onfocus="if(this.value=='请输入关键词'){this.value='';}" onblur="if(this.value==''){this.value='请输入关键词';}" />
            <button type="submit" class="search-submit fl">搜 索</button>
            <!--</form>-->
        </div>
    </div>