<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4080"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <!--伪静态开始-->
  <!--
  <configSections>
    <section name="CustomConfiguration" type="URLRewriter.Config.UrlsSection, URLRewriter" />
  </configSections>
  <CustomConfiguration>
    <urls>
      <add virtualUrl="~/(\w+).html" destinationUrl="~/handler/TestHandler.ashx?action=mainpage" />
    </urls>
  </CustomConfiguration>
  -->
  <!--伪静态结束-->

  <!--<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>-->
  <!--IIS7.0   begin-->
  <!--
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="all" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
    </handlers>
    <modules>
      <add name="all" type="URLRewriter.ModuleRewriter" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  -->
  <!--IIS7.0   end-->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <httpRuntime requestValidationMode="2.0" maxQueryStringLength="408000"/>
    <!--requestValidationMode 验证-->
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <!--伪静态开始-->
    <!--
      <httpModules>
        <add type="URLRewriter.RewriterModule, URLRewriter" name="RewriterModule" />
      </httpModules>
      -->
    <!--伪静态结束-->
  </system.web>

  <connectionStrings>
    <add name="connStr_fbkc" connectionString="Data Source=39.105.196.3;Initial Catalog=AutouSend;User ID=lhc;Password=123456"
  providerName="System.Data.SqlClient" />
    <add name="connString" connectionString="Data Source=39.105.196.3;Initial Catalog=100dh_xinxi;User ID=lhc;Password=123456"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
