<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4080"/>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true"/>
    <rewrite>
      <rules>
        <clear/>
        <rule name="主页" stopProcessing="true">
          <match url="^$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory"/>
          </conditions>
          <action type="Rewrite" url="handler/TestHandler.ashx?action=MainPage"/>
        </rule>
        <rule name="栏目" stopProcessing="true">
          <match url="^list_([0-9]+)\.html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="handler/TestHandler.ashx?action=GetProduct&amp;cId={R:1}"/>
        </rule>
        <rule name="栏目页码" stopProcessing="true">
          <match url="^list_([0-9]+)_([0-9]+)\.html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="handler/TestHandler.ashx?action=GetProduct&amp;cId={R:1}&amp;pageIndex={R:2}"/>
        </rule>
        <rule name="sitemapxml" stopProcessing="true">
          <match url="^([^/]+)\.xml$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="handler/TestHandler.ashx?action={R:1}"/>
        </rule>
        <rule name="sitemaphtml" stopProcessing="true">
          <match url="^([^/]+)\.html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="handler/TestHandler.ashx?action={R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <httpRuntime requestValidationMode="2.0" maxQueryStringLength="408000"/>
    <!--requestValidationMode 验证-->
    <compilation targetFramework="4.0" debug="true"/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="connStr_fbkc" connectionString="Data Source=39.105.196.3;Initial Catalog=AutouSend;User ID=lhc;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="connString" connectionString="Data Source=39.105.196.3;Initial Catalog=100dh_xinxi;User ID=lhc;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
<!--ProjectGuid: F0514528-4339-4A48-AEA1-7491A5D4C28E-->